h1{
    color:red;
}
[type="submit"], [type="reset"]{
    color:white;
    background-color:brown;
    padding:5px;
    width:100px;
}

.tblClass{
    border:2px;
    color: brown;
    height:150px;
    background-color:bisque;
}
