
<H1>Login form</H1>
<section>
    <form method="post">
    <div>
        <table class="tblClass">
            <tr>
                <td><label>User Name:</label></td><td><input type="email" id="UsNme"></td>
            </tr>
            <tr>
                <td><label>Password:</label></td><td><input type="password" id="UsPass"></td>
            </tr>
            <tr>
                <input type="submit" value="Sign in">
                <input type="reset" value="Reset">
            </tr>
        </table>  
    </div>
    </form>
    <div>
        new User??<a routerLink="/register">click here to register</a>
    </div>
</section>

