
<H1>Login form</H1>
<section>
    <b>{{loginMessage}}</b>
    <form #loginForm="ngForm" (submit)="collectData(loginForm)">
        <table class="tblClass">
            <tr>
                <td><label>User Name:</label></td>
                <td><input type="email" name="emailId" ngModel required></td>
            </tr>
            <tr>
                <td><label>Password:</label></td>
                <td><input type="password" name="password" ngModel required></td>
            </tr>
            <tr>
                <input type="submit" value="Sign-in">
                <input type="reset" value="Reset">
            </tr>
        </table>  
    </form>
    <div>
        new User??<a routerLink="/register">click here to register</a>
    </div>
</section>

