<section>
    <div>
        An employee management system is a distributed system 
        developed to maintain the employee details and the company 
        workflow process systematically.
        EMS helps to eliminate the manual process and saves a lot
        of time and money. This system maintains the professional 
        and personal details of the employees and the company in a safe manner. 
        The employee management system lowers the burden and the pressure on HRs 
        and the business managers. Thanks to the technology which offers us a plethora
        of solutions which makes the work easier and faster.
    </div>
    <div>
        <ul>
            <li> Efficiency And Better Accuracy</li>
            <li> Fewer Compliance Risks</li>
            <li> Boosted Profitability</li>
            <li> Very Few Manual Errors</li>
            <li>Higher Productivity</li>
            <li>Higher Motivation</li>
            <li>Lower Costs</li>
        </ul>
    </div>
</section>

