<section>
    <form >
    <div>
        <h1>Registration Form</h1>
        <table class="tblClass">
            <tr>
                <td><label>Name:</label></td><td><input id="UsNme"></td>
            </tr>
            <tr>
                <td><label>Father's Name:</label></td><td><input  id="UsF"></td>
            </tr>
            <tr>
                <td><label>Mobile:</label></td><td><input type="number" id="UsMob"></td>
            </tr>
            <tr>
                <td><label>Gender:</label></td><td>Male:<input type="radio" checked="true" id="UsM">Female:<input type="radio" id="usF"></td>
            </tr>
            <tr>
                <td><label>Upload Photo:</label></td><td><input type="file"  id="UsImg"></td>
            </tr>
            <tr>
                <td><label>UserAdresss:</label></td><td><input  id="UsAdd"></td>
            </tr>
            <tr>
                <input type="submit" value="REGISTER"/>
                <input type="reset" value="RESET"/>
            </tr>
        </table>       
    </div>
    <div>
       existing User??<a routerLink="/login">click here to login</a>
    </div>
    </form>
</section>
