<section >
    <div *ngIf="routeParameter==null">
    <i>{{joinsuccessMessage}}</i>
    <h1>Employee Joining Form</h1>
    <form [formGroup]="registerForm" (submit)="collectData()"> <!-- formGroup linked with form-->
        <table class="tblClass">
            <tr><td><label for="empName">Name: </label></td>
                <td><input type="text" id="empName" formControlName="empName"></td>
            </tr>
            <tr *ngIf="ename?.touched && ename?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="ename!.errors!['required']">Employee Name is required</td>
                <td *ngIf="ename!.errors!['minlength']">Please add min 2 characters</td>
                <td *ngIf="ename!.errors!['pattern']">only alphabets allowed</td>
            </tr>

            <tr>
                <td><label for="empSalary">Salary:</label></td>
                <td><input type="number" id="empSalary" formControlName="empSalary" ></td>
            </tr>
            <tr *ngIf="esalary?.touched && esalary?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="esalary!.errors!['required']">Salary is required</td>
                <td *ngIf="esalary!.errors!['min']">-ve value not allowed</td>
            </tr>
            <tr>
                <td><label>Gender:</label></td>
                <td><label for="male">Male:</label> <input type="radio" id="male" value="male"  name="empGender"  formControlName="empGender" >
                     <label for="female">Female:</label> <input type="radio" id="female" value="female" name="empGender" formControlName="empGender"></td>
            </tr>
            <tr>
                <td><label for="empAddress" >Address:</label></td>
                <td><input type="text" id="empAddress" formControlName="empAddress"></td>
            </tr>
            <tr *ngIf="eaddress?.touched && eaddress?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="eaddress!.errors!['required']">Address is required</td>
               
            </tr>
            <tr>
                <td><label for="departmentId">Department:</label></td>
                <td>
                <select id="departmentId" formControlName="departmentId" >
                    <option value="LD">Learning and Developement</option>
                    <option value="JW">Java Web</option>
                    <option value="DN">Dot Net</option>
                    <option value="HR">Human Resource</option>
                </select>
            </td>
            </tr>
            <tr *ngIf="deptId?.touched &&deptId?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="deptId!.errors!['required']">Please select department</td>
            </tr>
            <tr>
                <td><label for="emailId">Email Id:</label></td>
                <td><input type="email" id="emailId" formControlName="emailId"></td>
            </tr>
            <tr *ngIf="eemail?.touched &&eemail ?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="eemail!.errors!['required']">Email id is required</td>
                <td *ngIf="eemail!.errors!['email']">Please put valid email id</td>
            </tr>
            <tr>
                <td><label for="password">Set password:</label></td>
                <td><input [type]="nodeType" id="password" formControlName="password"></td>
            </tr>
            <tr *ngIf="epass?.touched && epass?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="epass!.errors!['required']">Password is required</td>
                <td *ngIf="epass!.errors!['pattern']">
                    <b>Password should contain atleast one</b>
                    <ol>
                    <li>small letter</li>
                    <li>capital letter</li>
                    <li>digit</li>
                    <li>Special Symbol ()</li>
                    </ol>
                    <b>Password should be 7 to 15 characters long</b>
            </td>
            </tr>
            <tr>
                <td><label for="confirmPassword">Confirm password:</label></td>
                <td><input id="confirmPassword" [type]="nodeType" formControlName="confirmPassword" [ngStyle]="{border:(registerForm.hasError('passMatch') ? 'red 2px solid':'')}"></td>
            </tr>
            <tr *ngIf="econfirmpass?.touched && econfirmpass?.invalid" class="errMsg">
                <td></td>
                <td *ngIf="econfirmpass!.errors!['required']">Confirm password is required</td>
            </tr>
            <tr *ngIf="registerForm?.invalid && econfirmpass?.touched" class="errMsg">
                <td></td>
                <td *ngIf="registerForm.hasError('passMatch')">Confirm password must be same as password</td>
            </tr>
            <tr>
                <td></td>
                <td><mat-checkbox (change)="showP($event)"></mat-checkbox>: Show Password</td>
            </tr>
            <tr>
                <input type="submit" [disabled]="registerForm.invalid" value="REGISTER"/>
                <input type="reset" value="RESET"/>
            </tr>
        </table>       
    </form>
    <div>
        existing User??<a routerLink="/login">click here to login</a>
     </div>
</div>
    <hr>
    <div *ngIf="routeParameter!=null">
    <h2>Employee Update Form</h2>
    <form #regForm="ngForm" (submit)="collecUpdatedData()">
        <table class="tblClass">
            <tr><td><label for="empName">Name: </label></td>
                <td><input type="text" id="empName" name="empName" [(ngModel)]="myEmployee.empName"></td>
            </tr>
            <tr>
                <td><label for="empSalary">Salary:</label></td>
                <td><input type="number" id="empSalary" name="empSalary" [(ngModel)]="myEmployee.empSalary"></td>
            </tr>
            
            <tr>
                <td><label>Gender:</label></td>
                <td>Male: <input type="radio" value="male" [(ngModel)]="myEmployee.empGender"  name="empGender"  >
                        Female: <input type="radio" value="female" [(ngModel)]="myEmployee.empGender" name="empGender"></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input type="text" name="empAddress" [(ngModel)]="myEmployee.empAddress"></td>
            </tr>
            
            <tr>
                <td><label>Department:</label></td>
                <td>
                <select  name="departmentId" [(ngModel)]="myEmployee.departmentId">
                    <option value="LD">Learning and Developement</option>
                    <option value="JW">Java Web</option>
                    <option value="DN">Dot Net</option>
                    <option value="HR">Human Resource</option>
                </select>
            </td>
            </tr>
            <tr>
                <input type="submit" value="UPDATE"/>
                <input type="reset" value="RESET"/>
            </tr>
        </table>  
    </form>
    </div>
</section>

