<section>
    <form [formGroup]="registerForm" (submit)="collectData()"> <!-- formGroup linked with form-->
    <div>
        <h1>Employee Joining Form</h1>
        <table class="tblClass">
            <tr><td><label>Name:</label></td>
                <td><input type="text" formControlName="empName"></td>
            </tr>
            <tr *ngIf="ename?.touched && ename?.invalid">
                <td></td>
                <td *ngIf="ename!.errors!['required']">Employee Name is required</td>
                <td *ngIf="ename!.errors!['minlength']">Please add min 2 characters</td>
            </tr>

            <tr>
                <td><label>Salary:</label></td>
                <td><input type="number" formControlName="empSalary" ></td>
            </tr>
            <tr *ngIf="esalary?.touched && esalary?.invalid">
                <td></td>
                <td *ngIf="esalary!.errors!['required']">Salary is required</td>
                <td *ngIf="esalary!.errors!['min']">-ve value not allowed</td>
            </tr>
            <tr>
                <td><label>Gender:</label></td>
                <td>Male: <input type="radio" value="male"  name="empGender"  formControlName="empGender" >
                     Female: <input type="radio" value="female" name="empGender" formControlName="empGender"></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input type="text" formControlName="empAddress"></td>
            </tr>
            <tr *ngIf="eaddress?.touched && eaddress?.invalid">
                <td></td>
                <td *ngIf="eaddress!.errors!['required']">Address is required</td>
               
            </tr>
            <tr>
                <td><label>Department:</label></td>
                <td>
                <select formControlName="departmentId" >
                    <option value="LD">Learning and Developement</option>
                    <option value="JW">Java Web</option>
                    <option value="DN">Dot Net</option>
                    <option value="HR">Human Resource</option>
                </select>
            </td>
            </tr>
            <tr *ngIf="deptId?.touched &&deptId?.invalid">
                <td></td>
                <td *ngIf="deptId!.errors!['required']">Please select department</td>
            </tr>
            <tr>
                <td>Email Id:</td>
                <td><input type="email" formControlName="emailId"></td>
            </tr>
            <tr *ngIf="eemail?.touched &&eemail ?.invalid">
                <td></td>
                <td *ngIf="eemail!.errors!['required']">Email id is required</td>
            </tr>
            <tr>
                <td>Set password:</td>
                <td><input type="password" formControlName="password"></td>
            </tr>
            <tr *ngIf="epass?.touched && epass?.invalid">
                <td></td>
                <td *ngIf="epass!.errors!['required']">Password is required</td>
               
            </tr>
            <tr>
                <td>Confirm password:</td>
                <td><input type="password" formControlName="confirmPassword" ></td>
            </tr>
            <tr *ngIf="econfirmpass?.touched && econfirmpass?.invalid">
                <td></td>
                <td *ngIf="econfirmpass!.errors!['required']">Confirm password is required</td>
               
            </tr>
            <tr>
                <input type="submit" value="REGISTER"/>
                <input type="reset" value="RESET"/>
            </tr>
        </table>       
    </div>
    <div>
       existing User??<a routerLink="/login">click here to login</a>
    </div>
    </form>
</section>
