{{title}}
<input type="text" [(ngModel)]="title" style="border: 2px solid pink; background-color: aqua; padding: 20px;"> 
<ol [ngStyle]="{borderColor:bcolor, borderWidth:'2px', borderStyle:bstyle, 'background-color':'yellow'}">
    <li><b>ID: </b>{{deparment.deptId}}</li>
    <li>{{deparment.deptName}}</li>
    <li>{{deparment.deptBudget}}</li>
    <li>{{deparment.deptEstYear}}</li>
</ol>
<table border="3" [ngStyle]="myStyle">
    <tbody>
        <tr>
            <td>{{deparment.deptId}}</td>
            <td>{{deparment.deptName}}</td>
            <td>{{deparment.deptBudget}}</td>
            <td>{{deparment.deptEstYear}}</td>
        </tr>
    </tbody>
</table>
<hr>
<table border="3" [ngStyle]="myStyle">
    <tbody>
        <tr *ngFor="let depart of deptArray">
            <span *ngIf="depart.deptEstYear==2000">
                <td>{{depart.deptId}}</td>
                <td>{{depart.deptName}}</td>
                <td>{{depart.deptBudget}}</td>
                <td>{{depart.deptEstYear}}</td>
            </span>
        </tr>
    </tbody>
</table>

<table border="3" [ngStyle]="obj" (mouseover)="applyStyle()"> 
    <tbody>
        <tr *ngFor="let depart of deptArray">
            <span  *ngIf="depart.deptEstYear==2000; then thenpart"></span>
            <ng-template #thenpart>
                <td>{{depart.deptId}}</td>
                <td>{{depart.deptName}}</td>
                <td>{{depart.deptBudget}}</td>
                <td>{{depart.deptEstYear}}</td>
            </ng-template>
        </tr>
    </tbody>
</table>
<section class="myDepartment">
    <figure>
        <h2>Id: {{deparment.deptId}}</h2>
        <img [src]="deparment.deptImage">
        <figcaption><h3>{{deparment.deptName}}</h3></figcaption>
    </figure>
    <div>
        <p>This is depatment is established in year <b>{{deparment.deptEstYear}}</b></p>
        <p>Year budget of depatment is <b>{{deparment.deptBudget}}</b></p>
    </div>
</section>
<hr>
<h2>Data passing from parent to children</h2>
<h3>{{fromChild}}</h3>
<h4>{{eyear}}</h4>
<article class="flexContainer">
    <div *ngFor="let dept of deptArray">
         <app-dept-container [department]=dept  (emitter)="acceptData($event)" (emitter2)="acceptData2($event)"></app-dept-container>
    </div>
</article>

<hr>
<section>
    <label>Enter Department Name if change:</label>
    <input type="text" [(ngModel)]="deparment.deptName" (keyup)="display()" (focus)="display()" #nameNode>
    <button (click)="pass(nameNode.value)" #btnNode>CLICK</button>
    <input type="radio" (change)="test()"> 
</section>
<section class="fontStyle colorStyle">
    <label>Enter Dept Id:</label>
    <input type="text" #idNode>
    <label>Enter Dept Name:</label>
    <input type="text" #dnameNode>
    <label>Enter Dept Yearly Budget:</label>
    <input type="number" #budgetNode>
    <label>Enter Dept Establishment year:</label>
    <input type="number" #yearNode>
    <button (click)="addDeparment(idNode.value,dnameNode.value,budgetNode.value,yearNode.value)" class="btn btn-success">ADD DEPARMENT</button>
</section>
<section [ngClass]="styleArray">
    <table border="3">
        <tr><td *ngFor="let st of stationArray">{{st}}</td></tr>
    </table>
    <select [(ngModel)]="station" (change)="addStation()">
        <option value="Rabale">RABALE</option>
        <option value="Ghansoli">GHANSOLI</option>
        <option value="Kopar">KOPAR</option>
        <option value="Turbhe">TURBHE</option>
    </select>
</section>
<section>
    <input type="number" [(ngModel)]="age">
    <span *ngIf="age>=18; then thenfield; else elsefield">OK</span>
    <ng-template #thenfield>
        <p>You are allowed for voting</p>
    </ng-template>
    <ng-template #elsefield>
        <p>You are NOT allowed for voting</p>
    </ng-template>
</section>

<!--  50000 100000 : LB
      100001 500000 : MB
    500001    10000000 : HB-->

    <table border="3">
        <tbody>
            <tr *ngFor="let depart of deptArray">
               
                    <td>{{depart.deptId}}</td>
                    <td>{{depart.deptName}}</td>
                    <td>{{depart.deptBudget}}</td>
                    <td>{{depart.deptEstYear}}</td>
                    <td>
                        <span [ngSwitch]="true">
                            <b *ngSwitchCase="depart.deptBudget>=50000 && depart.deptBudget<=100000">LB</b>
                            <b *ngSwitchCase="depart.deptBudget>=100001 && depart.deptBudget<=5000000">MB</b>
                            <b *ngSwitchCase="depart.deptBudget>=5000001 && depart.deptBudget<=10000000">HB</b>
                            <b *ngSwitchDefault>NA</b>
                        </span>
                    </td>
            </tr>
        </tbody>
    </table>
    <hr>
    <h3>Working with pipes</h3>
    <table border="3">
        <thead><th>ID</th><th>NAME</th><th>BUDGET</th><th>ES YEAR</th><th>ES DATE</th></thead>
        <tbody>
            <tr *ngFor="let depart of deptArray">
                    <td>{{depart.deptId}}</td>
                    <td>{{depart.deptName}}</td>
                    <td>{{depart.deptBudget}}</td>
                    <td>{{depart.deptEstYear}}</td>
                    <td>{{depart.deptEstDate}}</td>
            </tr>
        </tbody>
    </table>
    <table border="3">
        <thead><th>NAME</th><th>NAME</th><th>NAME</th><th>NAME</th></thead>
        <tbody>
            <tr *ngFor="let depart of deptArray">
                   <td>{{depart.deptName}}</td>
                    <td>{{depart.deptName | uppercase}}</td>
                    <td>{{depart.deptName | lowercase}}</td>
                    <td>{{depart.deptName | titlecase}}</td>
            </tr>
        </tbody>
    </table>
    <table border="3">
        <thead><th>BUDGET</th><th>BUDGET</th><th>BUDGET</th><th>BUDGET</th></thead>
        <tbody>
            <tr *ngFor="let depart of deptArray">
                   <td>{{depart.deptBudget}}</td>
                   <td>{{depart.deptBudget | number}}</td> <!-- round to 3 digits-->
                   <td>{{depart.deptBudget | number : '12.2-2'}}</td> 
                   <td>{{depart.deptBudget | number : '8.1-3'}}</td> 
            </tr>
        </tbody>
    </table>
    <table border="3">
        <thead><th>BUDGET</th><th>BUDGET</th><th>BUDGET</th><th>BUDGET</th></thead>
        <tbody>
            <tr *ngFor="let depart of deptArray">
                   <td>{{depart.deptBudget}}</td>
                   <td>{{depart.deptBudget | currency}}</td> <!-- round to 2 digits, $ applied-->
                   <td>{{depart.deptBudget | currency : 'INR'}}</td>  <!-- symbol-->
                   <td>{{depart.deptBudget | currency : 'INR': 'code'}}</td> 
                   <td>{{depart.deptBudget | currency : 'INR': 'code' : '8.3-3'}}</td> 
                   <td>{{depart.deptBudget | currency : 'USD' :'symbol':'8.3-3'}}</td>
            </tr>
        </tbody>
    </table>
    <p>{{ 1000.23 | number: '3.2-2' }}</p>
    <p>{{ 10000.356| number: '3.2-2'}}</p>
    <table border="3">
        <thead><th>EST DATE</th><th>EST DATE</th><th>EST DATE</th><th>EST DATE</th><th>EST DATE</th></thead>
        <tbody>
            <tr *ngFor="let depart of deptArray">
                   <td>{{depart.deptEstDate}}</td>
                   <td>{{depart.deptEstDate | date}}</td> <!-- mediumDate-->
                   <td>{{depart.deptEstDate | date : 'shortDate'}}</td>
                   <td>{{depart.deptEstDate | date : 'longDate'}}</td>
                   <td>{{depart.deptEstDate | date : 'fullDate'}}</td>
                   <td>{{depart.deptEstDate | date : 'dd/MMMM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>
    <ol>
        <li *ngFor="let color of colorArray | orderBy">{{color}}</li>
    </ol>
    <table border="3" class="table table-hover">
        <thead><tr>
            <th (click)="sortBy('deptId')">ID</th>
               <th (click)="sortBy('deptName')">NAME</th>
               <th (click)="sortBy('deptBudget')">BUDGET</th>
               <th (click)="sortBy('deptEstYear')">ES YEAR</th>
               <th (click)="sortBy('deptEstDate')">ES DATE</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let depart of deptArray | orderBy :orderObject.sortProperty : orderObject.sortOrder : orderObject.sortCase">
                    <td>{{depart.deptId | prefix : 'NEO' | suffix :'DAD'}}</td>
                    <td>{{depart.deptName | suffix : 'Hello' | prefix:'Hi'}}</td>
                    <td>{{depart.deptBudget}}</td>
                    <td>{{depart.deptEstYear}}</td>
                    <td>{{depart.deptEstDate}}</td>
            </tr>
        </tbody>
    </table>
