<ol>
    <li><b>ID: </b>{{deparment.deptId}}</li>
    <li>{{deparment.deptName}}</li>
    <li>{{deparment.deptBudget}}</li>
    <li>{{deparment.deptEstYear}}</li>
</ol>
<table border="3">
    <tbody>
        <tr>
            <td>{{deparment.deptId}}</td>
            <td>{{deparment.deptName}}</td>
            <td>{{deparment.deptBudget}}</td>
            <td>{{deparment.deptEstYear}}</td>
        </tr>
    </tbody>
</table>
<hr>
<table border="3">
    <tbody>
        <tr *ngFor="let depart of deptArray">
            <td>{{depart.deptId}}</td>
            <td>{{depart.deptName}}</td>
            <td>{{depart.deptBudget}}</td>
            <td>{{depart.deptEstYear}}</td>
        </tr>
    </tbody>
</table>
<section class="myDepartment">
    <figure>
        <h2>Id: {{deparment.deptId}}</h2>
        <img [src]="deparment.deptImage">
        <figcaption><h3>{{deparment.deptName}}</h3></figcaption>
    </figure>
    <div>
        <p>This is depatment is established in year <b>{{deparment.deptEstYear}}</b></p>
        <p>Year budget of depatment is <b>{{deparment.deptBudget}}</b></p>
    </div>
</section>
<article class="flexContainer">
<section class="myDepartment" *ngFor="let depart of deptArray">
    <figure>
        <h2>Id: {{depart.deptId}}</h2>
        <img [src]="depart.deptImage">
        <figcaption>{{depart.deptName}}</figcaption>
    </figure>
    <div>
        <p>This is depatment is established in year <b>{{depart.deptEstYear}}</b></p>
        <p>Year budget of depatment is <b>{{depart.deptBudget}}</b></p>
    </div>
</section>
</article>